<h1 class="col-10 offset-1"><%=@user.email %></h1>
    <div class="booyah-box col-10 offset-1">
      <div class="row">
        <div class="col-4">
          <%= image_tag 'user.png' %>
        </div>
        <div class="col-10">
          
          <h5>Member since <%= @user.created_at.strftime("%B %d, %Y") %></h5>
          <h5>Number of comments: <%= @user.comments.count %></h5>
          <h5>Number of 5-star ratings: <%= @user.comments.where(rating: '5_stars').count %></h5>
        </div>
      </div>
      <div class="clear"></div>
    </div>

<div class="clear"></div>

<h1 class="col-10 offset-1">My Places</h1>
   <div class="booyah-box col-10 offset-1">
    <% @user.places.each do |place| %>
    <h3><%= link_to place.name, place_path(place) %></h3>
        <i><%= place.address %></i><br>
        <p><%= place.description %></p>
    <% end %>
    </div>

<h1 class="col-10 offset-1">My Comments</h1>
<div class="booyah-box col-10 offset-1">
<div class="row">
  <% @user.comments.each do |comment| %>
    <div class="col-12 col-sm-6">
    <h3><%= link_to comment.place.name, place_path(comment.place) %></h3>
      <blockquote>
      <% if comment.humanized_rating.present? %>
       <b><%= comment.rating %></b> -
       <% end %>
        <%= comment.message %>
        <br>
        <small><%= comment.user.email %></small>
      </blockquote>
    </div>
<% end %>
</div>
</div>

