<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br>
    <p><%= place.description %></p>

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
    <p></p>

<!-- copied from show.html. replaced comment with place comments.last -->
      <% if place.comments.present? %>
      <div class="col-12"> 
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
           <b><%= place.comments.last.humanized_rating %></b> -
           <% end %>
            <%= place.comments.last.message %>
            <br>
            <small><%= place.comments.last.user.email %></small>
          </blockquote>
       </div>
       <% end %>
       <div class="clear"></div>
       <!-- 2019.08.09 added for lesson 39. place photos on index page as well. copied from comments above -->
       <% if place.photos.present? %>
          <div class="photos-index float-right">
              <p><%= image_tag place.photos.first.photo, class: "img_fluid" %></p>
          </div>
        <% end %>
  </div>
  <% end %>