<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br>
  <p><%= @place.description %></p>

  <div class="float-right">
    <!-- added from lesson 25 -->
    <% if current_user && current_user == @place.user %>
    <%= link_to "Edit this place", 
    edit_place_path(@place), 
    class: 'btn btn-primary' %>
    <!-- added link for lesson 23 -->
    <%= link_to 'Delete place', 
    place_path(@place), 
    method: :delete, 
    data: {confirm: 'You requested to delete this place. Please confirm.'}, 
    class: 'btn btn-danger' %>
        <% end %>

  </div>

</div>