<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br>
  <p><%= @place.description %></p>

  <% if @place.latitude.present? && @place.longitude.present? %>

  <script>
      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %> };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFUG42F13qCrvRmrgxbMMN-iMr-4Ho6wI&callback=initMap">
    </script>
    <div id="map"></div>
<% end %>
<br>

  <div class="float-right">
    <!-- added from lesson 25 -->
    <% if current_user && current_user == @place.user %>
    <%= link_to "Edit this place", 
    edit_place_path(@place), 
    class: 'btn btn-primary' %>
    <!-- added link for lesson 23 -->
    <%= link_to 'Delete place', 
    place_path(@place), 
    method: :delete, 
    data: {confirm: 'You requested to delete this place. Please confirm.'}, 
    class: 'btn btn-danger' %>
        <% end %>

  </div>

</div>

<div class="clear"></div>
<!-- moved below for lesson 36
<%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
  <%= f.input :message %>
  <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
  <%= f.submit "Add a comment", class: 'btn btn-primary' %>
  <% end %>
-->

  <!-- used just for testing, until lesson 36
  <h1>Comments</h1>
  <% @place.comments.each do |comment| %>
  <div>
    <blockquote>
      <% if comment.humanized_rating.present? %>
       <b><%= comment.rating %></b> -
       <% end %>
        <%= comment.message %>
        <br>
        <small><%= comment.user.email %></small>
      </blockquote>
    </div>
    <% end %>
  -->

  <!-- lesson 36 -->
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Add a comment!
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add a comment!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
        <div class="modal-body">
          <%= f.input :message %>
          <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
      </div>
        <% end %>
      </div>
    </div>
  </div>

